<div class="conteiner">
  <form class="form" action="/artist-search" method="GET">
    <div id="idLabel">
      <label for="artist"></label>
      <input id="inputHome" type="text" id="artist" name="artist" />
    </div>
    <button id="btn" type="submit">Search Artist</button>
  </form>
</div>